@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply [scrollbar-color:_#cbd5e1_transparent] dark:[scrollbar-color:_#334155_transparent];
    }
}

@layer components {
    .sidebar-group {
        @apply flex flex-col w-full gap-y-2;
    }

    .sidebar-item {
        @apply flex h-[40px] w-full flex-shrink-0 items-center gap-x-3 rounded-lg p-3 text-base font-medium text-slate-900 transition-colors hover:bg-blue-100 dark:text-slate-50 dark:hover:bg-blue-950;

        &.active {
            background-color: #173B7E;
            @apply text-slate-50;
        }
    }

    .title {
        @apply text-3xl font-semibold text-slate-900 transition-colors dark:text-slate-50;
    }

    .btn-ghost {
        @apply flex h-10 flex-shrink-0 items-center justify-center gap-x-2 rounded-lg p-2 text-slate-400 transition-colors hover:bg-blue-50 hover:text-slate-500 dark:hover:bg-blue-950 dark:hover:text-slate-300;
    }

    .input {
        @apply hidden h-10 flex-shrink-0 items-center gap-x-2 rounded-lg border border-slate-300 px-2 text-base text-slate-900 transition-colors has-[input:focus]:border-blue-600 md:flex md:w-auto lg:w-80 dark:border-slate-700 dark:text-slate-50 dark:focus:border-blue-600;
    }

    .card {
        @apply flex flex-col gap-y-2 border border-slate-300 rounded-lg bg-white p-4 transition-colors dark:border-slate-700 dark:bg-slate-900 hover:shadow-md;
    }

    .card-header {
        @apply flex items-center justify-between;
    }

    .card-title {
        @apply font-medium text-slate-900 transition-colors dark:text-slate-50;
    }

    .card-body {
        @apply flex flex-col gap-y-2 rounded-lg p-4;
    }

}

.recharts-default-tooltip {
    @apply !rounded-lg !border !border-slate-300 !bg-white transition-colors;
}

.dark .recharts-default-tooltip {
    @apply !border-slate-700 !bg-slate-900;
}


@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.animate-fadeIn {
    animation: fadeIn 0.2s ease-out;
}

.custom-scroll::-webkit-scrollbar {
    width: 6px;
}

.custom-scroll::-webkit-scrollbar-thumb {
    background: #94a3b8;
    border-radius: 4px;
}

/* Bell ringing animation */
@keyframes bell-ring {
    0% {
        transform: rotate(0);
    }

    10% {
        transform: rotate(-15deg);
    }

    20% {
        transform: rotate(10deg);
    }

    30% {
        transform: rotate(-10deg);
    }

    40% {
        transform: rotate(6deg);
    }

    50% {
        transform: rotate(-4deg);
    }

    60% {
        transform: rotate(2deg);
    }

    70% {
        transform: rotate(-1deg);
    }

    80%,
    100% {
        transform: rotate(0);
    }
}

.bell-animate {
    animation: bell-ring 1s infinite;
    transform-origin: top center;
}